/***********************************************************************/
/*                               全局样式                               */
/***********************************************************************/


body {
	line-height:1.6;
	font-family:'San Francisco','Arial','PingFangSC-Regular','microsoft yahei',sans-serif;
	font-size:1em;
	color:#333;
}
input, textarea {
	font-family:'San Francisco','Arial','PingFangSC-Regular','microsoft yahei',sans-serif;
}
::selection {
	background:#ff756b;
	color:#fff;
}
::-moz-selection {
	background:#ff756b;
	color:#fff;
}





/***********************************************************************/
/*                               公用模块                               */
/***********************************************************************/


/*页头*/
.header h1 {
	width: 455px;
	height: 108px;
	margin: 67px auto 23px;
	background: url(../images/main_logo@2x.png) no-repeat center center;
	background-size: contain;
	text-indent: -999em;
}
.header .hero {
	width: 100%;
	height: 524px;
}
.header .hero i {
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.header .left {
	float: left;
	width: 50%;
	height: 100%;
	background: url(../images/hero_pattern1.jpg) repeat;
	position: relative;
}
.header .right {
	float: right;
	width: 50%;
	height: 100%;
	background: url(../images/hero_pattern2.jpg) repeat;
	position: relative;
}
.header .right:before {
	content: "";
	float: left;
	width: 80px;
	height: 100%;
	background: url(../images/hero_pattern1.jpg) repeat;
}
.header .widget {
	width: 142px;
	height: 319px;
	background: url(../images/widget_bg@2x.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	right: 15%;
	top: -80px;
	z-index: 5;
	animation:hang 0.8s ease-out;
	-webkit-animation:hang 0.8s ease-out;
}
.header .widget a {
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	text-indent: -999em;
	opacity: 0;
	position: absolute;
	transition: opacity 0.3 ease-out;
}
.header .widget a:hover {
	opacity: 1;
}
.header .widget a:nth-child(1) {
	width: 113px;
	height: 32px;
	background-image: url(../images/widget_item1@2x.png);
	left: 8px;
	top: 227px;
}
.header .widget a:nth-child(2) {
	width: 121px;
	height: 32px;
	background-image: url(../images/widget_item2@2x.png);
	left: 4px;
	top: 260px;
}
.header .widget:before {
	content: "";
	display: block;
	width: 19px;
	height: 19px;
	background: url(../images/widget_wave1@2x.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	left: -8px;
	top: 171px;
	animation:wave1 0.3s ease-in-out alternate infinite;
	-webkit-animation:wave1 0.3s ease-in-out alternate infinite;
}
.header .widget:after {
	content: "";
	display: block;
	width: 19px;
	height: 19px;
	background: url(../images/widget_wave2@2x.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	left: 119px;
	top: 172px;
	animation:wave2 0.3s ease-in-out alternate infinite;
	-webkit-animation:wave2 0.3s ease-in-out alternate infinite;
}



/*主导航*/
.mainnav {
	width: 100%;
	position: absolute;
	left: 0;
	top: 635px;
	z-index: 5;
}
.mainnav .wrap {
	width: 837px;
	height: 152px;
	margin: 0 auto;
	background: #fff;
	border: 3px solid #373d33;
	border-radius: 200px;
	text-align: center;
}
.mainnav nav {
	width: 585px;
	height: 100%;
	margin: 0 auto;
}
.mainnav li {
	float: left;
	display: block;
	width: 145px;
	height: 100%;
	margin: 0 1px 0 0;
	position: relative;
}
.mainnav li:before {
	content: "";
	display: block;
	width: 0;
	height: 80%;
	border-left: 1px solid #f3f3f3;
	position: absolute;
	left: -1px;
	top: 14px;
}
.mainnav li:last-of-type:after {
	content: "";
	display: block;
	width: 0;
	height: 80%;
	border-right: 1px solid #f3f3f3;
	position: absolute;
	right: -1px;
	top: 14px;
}
.mainnav li {
	display: inline-block;
	width: 145px;
	height: 100%;
	transition: background 0.3s ease-out;
}
.mainnav li a {
	font-size: 16px;
	color: #8c8c8c;
	cursor: pointer;
}
.mainnav li a:before {
	content: "";
	display: block;
	width: 100%;
	height: 100px;
	margin: 10px 0 0;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.6;
	transition: opacity 0.3s ease-out;
}
.mainnav li:nth-child(1) a:before {
	background-image: url(../images/main_nav_icon1@2x.png);
	background-size: 92px 85px;
}
.mainnav li:nth-child(2) a:before {
	background-image: url(../images/main_nav_icon2@2x.png);
	background-size: 90px 81px;
}
.mainnav li:nth-child(3) a:before {
	background-image: url(../images/main_nav_icon3@2x.png);
	background-size: 98px 82px;
}
.mainnav li:nth-child(4) a:before {
	background-image: url(../images/main_nav_icon4@2x.png);
	background-size: 98px 83px;
}
.mainnav li:hover a,
.mainnav li.current a {
	color: #333;
}
.mainnav li:hover a:before,
.mainnav li.current a:before {
	opacity: 1;
}
.mainnav li:nth-child(1):hover {
	background: red;
}
.mainnav li:nth-child(2):hover {
	background: red;
}
.mainnav li:nth-child(3):hover {
	background: red;
}
.mainnav li:nth-child(4):hover {
	background: red;
}


/*小标题*/
.section_title {
	text-align: center;
}
.section_title h2 {
	width: 148px;
	height: 48px;
	line-height: 48px;
	margin: 0 auto;
	border: 3px solid #373d33;
	border-radius: 80px;
	font-size: 26px;
	color: #686868;
}
.section_title p {
	padding: 30px 0 0;
	font-size: 16px;
	color: #686868;
}


/*时间线*/
.timeline {
}





/***********************************************************************/
/*                               页面样式                               */
/***********************************************************************/


/*主页*/
.index .hero .left i {
	width: 496px;
	height: 401px;
	background-image: url(../images/hero1_left@2x.png);
	left: 60%;
	top: 48%;
}
.index .hero .right i {
	width: 518px;
	height: 327px;
	background-image: url(../images/hero1_right@2x.png);
	left: 55%;
	top: 45%;
}
.index .intro {
	width: 900px;
	margin: 130px auto 0;
	border: 5px solid #373d33;
	border-radius: 20px;
	position: relative;
}
.index .intro .content {
	line-height: 1.3;
	padding: 80px;
	font-size: 18px;
}
.index .intro .row {
	padding: 0 0 15px;
}
.index .intro .row span {
	float: left;
	display: inline-block;
	width: 80px;
	color: #ff756b;
}
.index .intro .row p {
	margin: 0 0 0 80px;
	color: #656565;
}
.index .intro .avatar {
	width: 177px;
	height: 177px;
	background: url(../images/avatar@2x.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	right: 80px;
	top: 80px;
}
.index .intro i {
	display: block;
	width: 16px;
	height: 100px;
	background: #fff;
	border: 5px solid #373d33;
	border-radius: 0 0 80px 80px;
	position: absolute;
	top: -90px;
	z-index: 2;
}
.index .intro i:after {
	content: "";
	display: block;
	width: 6px;
	height: 6px;
	background: #373d33;
	border-radius: 50%;
	position: absolute;
	left: 5px;
	top: 80px;
}
.index .intro i.left {
	left: 120px;
}
.index .intro i.right {
	right: 120px;
}
.index .skills {
	padding: 110px 0 0;
}
.index .skills ul {
	width: 1160px;
	margin: 0 auto;
}
.index .skills li {
	float: left;
	width: 290px;
	position: relative;
	text-align: center;
}
.index .skills .item {
	width: 186px;
	margin: 0 auto;
}
.index .skills .circle_progress .text { line-height: 176px; text-align: center; font-size: 88px; font-family: verdana, sans-serif; }
.index .skills li:nth-child(1) .circle_progress { background: #86d592; }
.index .skills li:nth-child(1) .circle_progress .pie_left,
.index .skills li:nth-child(1) .circle_progress .pie_right { background: #ebf2ec; }
.index .skills li:nth-child(1) { color: #86d592; }


/*经历*/
.experience {
}


/*作品*/
.works {
}


/*关于*/
.about {
}





/***********************************************************************/
/*                              浏览器提示                              */
/***********************************************************************/


.bg { background: url(../images/banner_bg.jpg) no-repeat center top; }
.explorer { padding: 10em 0 2em; background: url(../images/banner_text2.png) no-repeat center bottom; font-size: 2.4em; color: #fff; text-align: center; }





/***********************************************************************/
/*                               动画效果                               */
/***********************************************************************/


a {
	transition: color .3s ease-out, background-color .3s ease-out, opacity .3s ease-out;
	-webkit-transition: color .3s ease-out, background-color .3s ease-out, opacity .3s ease-out;
}
@keyframes wave1
{
	0%	{ transform:translate(0,0); }
	100%{ transform:translate(-2px,-2px); }
}
@-webkit-keyframes wave1
{
	0%	{ -webkit-transform:translate(0,0); }
	100%{ -webkit-transform:translate(-2px,-2px); }
}
@keyframes wave2
{
	0%	{ transform:translate(0,0); }
	100%{ transform:translate(2px,-2px); }
}
@-webkit-keyframes wave2
{
	0%	{ -webkit-transform:translate(0,0); }
	100%{ -webkit-transform:translate(2px,-2px); }
}
@keyframes hang
{
	0%	{ transform:translate(0,-80px); }
	45%{ transform:translate(0,3px); }
	80%{ transform:translate(0,-2px); }
	100%{ transform:translate(0,0); }
}
@-webkit-keyframes hang
{
	0%	{ -webkit-transform:translate(0,-80px); }
	45%{ -webkit-transform:translate(0,3px); }
	80%{ -webkit-transform:translate(0,-2px); }
	100%{ -webkit-transform:translate(0,0); }
}







/***********************************************************************/
/*                               插件样式                               */
/***********************************************************************/


/* circle progress style */
.circle_progress { width: 186px; height: 186px; border-radius: 50%; position: relative; }
.circle_progress .pie_left_wrap,
.circle_progress .pie_left,
.circle_progress .pie_right_wrap,
.circle_progress .pie_right { display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; }
.circle_progress .pie_left_wrap,
.circle_progress .pie_left { clip: rect(auto,100px,auto,auto); }
.circle_progress .pie_right_wrap,
.circle_progress .pie_right { clip: rect(auto,auto,auto,100px); }
.circle_progress .pie_left,
.circle_progress .pie_right { border-radius: 50%;
	transition: transform 0.5s linear;
	-webkit-transition: -webkit-transform 0.5s linear;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
}
.circle_progress .center { width: 176px; height: 176px; background: #fff; border-radius: 50%; position: absolute; left: 5px; top: 5px; }
.circle_progress .center span { display: none; }